build/
dist/
*.egg-info/
**/__pycache__/

**/.ipynb_checkpoints
**/.ipynb_checkpoints/**

*.swp

.vscode/
**/lightning_logs/**

.env

sinfo.csv
squeue.csv
*/tmp.ipynb
wandb/
weights/
*.pth
*.pt
*.ckpt
